.git
.github
.idea
.vs
.vscode
**/bin
**/obj
**/test
**/TestResults
**/*.user
**/*.suo
**/*.nupkg
**/*.snupkg
**/*.log
**/logs
coverage
artifacts
README.md
shopnet.code-workspace
shopnet.sln.DotSettings.user
